bin/
sim_run_*
run_hw/
benchmarks/data_dirs/*.tgz
benchmarks/data_dirs/dragon
benchmarks/data_dirs/pannotia
benchmarks/data_dirs/proxy-apps-doe
benchmarks/src/cuda/dragon_li/cdp_bin/
*.DS_Store
benchmarks/src/cuda/shoc-master/src/mpi/contention-mt/opencl/MTBusCont
benchmarks/src/cuda/shoc-master/src/mpi/contention/opencl/BusCont
benchmarks/src/cuda/shoc-master/src/opencl/level0/BusSpeedDownload
benchmarks/src/cuda/shoc-master/src/opencl/level0/BusSpeedReadback
benchmarks/src/cuda/shoc-master/src/opencl/level0/DeviceMemory
benchmarks/src/cuda/shoc-master/src/opencl/level0/KernelCompile
benchmarks/src/cuda/shoc-master/src/opencl/level0/MaxFlops
benchmarks/src/cuda/shoc-master/src/opencl/level0/QueueDelay
benchmarks/src/cuda/shoc-master/src/opencl/level0/epmpi/BusSpeedDownload
benchmarks/src/cuda/shoc-master/src/opencl/level0/epmpi/BusSpeedReadback
benchmarks/src/cuda/shoc-master/src/opencl/level0/epmpi/DeviceMemory
benchmarks/src/cuda/shoc-master/src/opencl/level0/epmpi/KernelCompile
benchmarks/src/cuda/shoc-master/src/opencl/level0/epmpi/MaxFlops
benchmarks/src/cuda/shoc-master/src/opencl/level0/epmpi/QueueDelay
benchmarks/src/cuda/shoc-master/src/opencl/level1/bfs/BFS
benchmarks/src/cuda/shoc-master/src/opencl/level1/bfs/epmpi/BFS
benchmarks/src/cuda/shoc-master/src/opencl/level1/fft/FFT
benchmarks/src/cuda/shoc-master/src/opencl/level1/fft/epmpi/FFT
benchmarks/src/cuda/shoc-master/src/opencl/level1/gemm/GEMM
benchmarks/src/cuda/shoc-master/src/opencl/level1/gemm/epmpi/GEMM
benchmarks/src/cuda/shoc-master/src/opencl/level1/md/MD
benchmarks/src/cuda/shoc-master/src/opencl/level1/md/epmpi/MD
benchmarks/src/cuda/shoc-master/src/opencl/level1/md5hash/MD5Hash
benchmarks/src/cuda/shoc-master/src/opencl/level1/md5hash/epmpi/MD5Hash
benchmarks/src/cuda/shoc-master/src/opencl/level1/reduction/Reduction
benchmarks/src/cuda/shoc-master/src/opencl/level1/reduction/epmpi/Reduction
benchmarks/src/cuda/shoc-master/src/opencl/level1/reduction/tpmpi/Reduction
benchmarks/src/cuda/shoc-master/src/opencl/level1/scan/Scan
benchmarks/src/cuda/shoc-master/src/opencl/level1/scan/epmpi/Scan
benchmarks/src/cuda/shoc-master/src/opencl/level1/scan/tpmpi/Scan
benchmarks/src/cuda/shoc-master/src/opencl/level1/sort/Sort
benchmarks/src/cuda/shoc-master/src/opencl/level1/sort/epmpi/Sort
benchmarks/src/cuda/shoc-master/src/opencl/level1/spmv/Spmv
benchmarks/src/cuda/shoc-master/src/opencl/level1/spmv/epmpi/Spmv
benchmarks/src/cuda/shoc-master/src/opencl/level1/stencil2d/Stencil2D
benchmarks/src/cuda/shoc-master/src/opencl/level1/stencil2d/tpmpi/Stencil2D
benchmarks/src/cuda/shoc-master/src/opencl/level1/triad/Triad
benchmarks/src/cuda/shoc-master/src/opencl/level1/triad/epmpi/Triad
benchmarks/src/cuda/shoc-master/src/opencl/level2/s3d/S3D
benchmarks/src/cuda/shoc-master/src/opencl/level2/s3d/epmpi/S3D
benchmarks/src/cuda/cudnn/mnist/mnistCUDNN
othersruns/
benchmarks/src/cuda/heterosync
