# functional simulator specification
-gpgpu_ptx_instruction_classification 0
-gpgpu_ptx_sim_mode 0
-gpgpu_ptx_force_max_capability X

# Device Limits
-gpgpu_stack_size_limit 1024
-gpgpu_heap_size_limit 8388608
-gpgpu_runtime_sync_depth_limit 2
-gpgpu_runtime_pending_launch_count_limit 2048
-gpgpu_kernel_launch_latency 5000
-gpgpu_TB_launch_latency 0

# Compute Capability
-gpgpu_compute_capability_major X
-gpgpu_compute_capability_minor X

# PTX execution-driven
-gpgpu_ptx_convert_to_ptxplus 0
-gpgpu_ptx_save_converted_ptxplus 0

# high level architecture configuration
-gpgpu_n_clusters X
-gpgpu_n_cores_per_cluster X
-gpgpu_n_mem X
-gpgpu_n_sub_partition_per_mchannel X

# clock domains
#-gpgpu_clock_domains <Core Clock>:<Interconnect Clock>:<L2 Clock>:<DRAM Clock>
-gpgpu_clock_domains XX

# shader core pipeline config
-gpgpu_shader_registers X
-gpgpu_registers_per_block X
-gpgpu_occupancy_sm_number X

-gpgpu_shader_core_pipeline X
-gpgpu_shader_cta X
-gpgpu_simd_model 1

# Pipeline widths and number of FUs
# ID_OC_SP,ID_OC_DP,ID_OC_INT,ID_OC_SFU,ID_OC_MEM,OC_EX_SP,OC_EX_DP,OC_EX_INT,OC_EX_SFU,OC_EX_MEM,EX_WB,ID_OC_TENSOR_CORE,OC_EX_TENSOR_CORE
-gpgpu_pipeline_widths X
-gpgpu_num_sp_units X
-gpgpu_num_sfu_units X
-gpgpu_num_dp_units X
-gpgpu_num_int_units X
-gpgpu_tensor_core_avail X
-gpgpu_num_tensor_core_units X

# Instruction latencies and initiation intervals
# "ADD,MAX,MUL,MAD,DIV"
# All Div operations are executed on SFU unit
-ptx_opcode_latency_int X
-ptx_opcode_initiation_int X
-ptx_opcode_latency_fp X
-ptx_opcode_initiation_fp X
-ptx_opcode_latency_dp X
-ptx_opcode_initiation_dp X
-ptx_opcode_latency_sfu X
-ptx_opcode_initiation_sfu X
-ptx_opcode_latency_tesnor X
-ptx_opcode_initiation_tensor X

# sub core model: in which each scheduler has its own register file and EUs
# i.e. schedulers are isolated
-gpgpu_sub_core_model X
# disable specialized operand collectors and use generic operand collectors instead
-gpgpu_enable_specialized_operand_collector 0
-gpgpu_operand_collector_num_units_gen X
-gpgpu_operand_collector_num_in_ports_gen X
-gpgpu_operand_collector_num_out_ports_gen X
# register banks
-gpgpu_num_reg_banks X
-gpgpu_reg_file_port_throughput X

# warp scheduling
-gpgpu_num_sched_per_core X
-gpgpu_scheduler gto
# a warp scheduler issue mode
-gpgpu_max_insn_issue_per_warp X
-gpgpu_dual_issue_diff_exec_units X

## L1/shared memory configuration
# <nsets>:<bsize>:<assoc>,<rep>:<wr>:<alloc>:<wr_alloc>:<set_index_fn>,<mshr>:<N>:<merge>,<mq>:**<fifo_entry>
# ** Optional parameter - Required when mshr_type==Texture Fifo
# In adaptive cache, we adaptively assign the remaining shared memory to L1 cache
# For more info, see https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#shared-memory-7-x
-gpgpu_adaptive_cache_config X
-gpgpu_shmem_option 0,8,16,32,64,96
-gpgpu_unified_l1d_size X
# L1 cache configuration
-gpgpu_l1_banks X
-gpgpu_cache:dl1  X
-gpgpu_l1_latency X
-gpgpu_gmem_skip_L1D X
-gpgpu_flush_l1_cache 1
-gpgpu_n_cluster_ejection_buffer_size 32
-gpgpu_l1_cache_write_ratio 25

# shared memory  configuration
-gpgpu_shmem_size X
-gpgpu_shmem_sizeDefault X
-gpgpu_shmem_per_block X
-gpgpu_smem_latency X
# shared memory bankconflict detection
-gpgpu_shmem_num_banks 32
-gpgpu_shmem_limited_broadcast 0
-gpgpu_shmem_warp_parts 1
-gpgpu_coalesce_arch X

# L2 cache
-gpgpu_cache:dl2 X
-gpgpu_cache:dl2_texture_only 0
-gpgpu_dram_partition_queues 64:64:64:64
-gpgpu_perf_sim_memcpy X
-gpgpu_memory_partition_indexing X

# 128 KB Inst.
-gpgpu_cache:il1 N:64:128:16,L:R:f:N:L,S:2:48,4
-gpgpu_inst_fetch_throughput 4
# 128 KB Tex
# Note, TEX is deprected since Volta, It is used for legacy apps only. Use L1D cache instead with .nc modifier or __ldg mehtod
-gpgpu_tex_cache:l1 N:4:128:256,L:R:m:N:L,T:512:8,128:2
# 64 KB Const
-gpgpu_const_cache:l1 N:128:64:8,L:R:f:N:L,S:2:64,4
-gpgpu_perfect_inst_const_cache 1

# interconnection
# use built-in local xbar
-network_mode 2
-icnt_in_buffer_limit 512
-icnt_out_buffer_limit 512
-icnt_subnets 2
-icnt_flit_size X
-icnt_arbiter_algo 1

# memory partition latency config
-gpgpu_l2_rop_latency X
-dram_latency X

# dram sched config
-gpgpu_dram_scheduler 1
-gpgpu_frfcfs_dram_sched_queue_size 64
-gpgpu_dram_return_queue_size 192

# dram model config
-gpgpu_n_mem_per_ctrlr X
-gpgpu_dram_buswidth X
-gpgpu_dram_burst_length X
-dram_data_command_freq_ratio X
-gpgpu_mem_address_mask 1
-gpgpu_mem_addr_mapping dramid@8;00000000.00000000.00000000.00000000.0000RRRR.RRRRRRRR.RBBBCCCC.BCCSSSSS

# Mem timing
-gpgpu_dram_timing_opt X
-dram_dual_bus_interface X

# select lower bits for bnkgrp to increase bnkgrp parallelism
-dram_bnk_indexing_policy 0
-dram_bnkgrp_indexing_policy 1

#-dram_seperate_write_queue_enable 1
#-dram_write_queue_size 64:56:32

# stat collection
-gpgpu_memlatency_stat 14
-gpgpu_runtime_stat 500
-enable_ptx_file_line_stats 1
-visualizer_enabled 0

# power model configs, disable it untill we create a real energy model
-power_simulation_enabled 0

# tracing functionality
#-trace_enabled 1
#-trace_components WARP_SCHEDULER,SCOREBOARD
#-trace_sampling_core 0
