bin/
*.csv
ubench/atomics/Atomic_add_bw/atomic_add_bw
ubench/atomics/Atomic_add_bw_conflict/atomic_add_bw_conflict
ubench/atomics/Atomic_add_lat/atomic_add_lat
ubench/core/MaxFlops_double/MaxFlops_double
ubench/core/MaxFlops_float/MaxFlops_float
ubench/core/MaxFlops_half/MaxFlops_half
ubench/core/MaxFlops_int32/MaxFlops_int32
ubench/core/config_dpu/config_dpu
ubench/core/config_fpu/config_fpu
ubench/core/config_int/config_int
ubench/core/config_sfu/config_sfu
ubench/core/config_tensor/config_tensor
ubench/core/config_udp/config_udp
ubench/core/core_config/core_config
ubench/core/lat_double/lat_double
ubench/core/lat_float/lat_float
ubench/core/lat_half/lat_half
ubench/core/lat_int32/lat_int32
ubench/core/regfile_bw/regfile_bw
ubench/core/sfu_bw_fsqrt/sfu_bw_fsqrt
ubench/core/sfu_lat_fsqrt/sfu_lat_fsqrt
ubench/core/tensor_bw_half/tensor_bw_half
ubench/core/tensor_lat_half/tensor_lat_half
ubench/l1_cache/l1_access_grain/l1_access_grain
ubench/l1_cache/l1_adaptive/l1_adaptive
ubench/l1_cache/l1_associativity/l1_associativity
ubench/l1_cache/l1_banks/l1_banks
ubench/l1_cache/l1_bw_128/l1_bw_128
ubench/l1_cache/l1_bw_32f/l1_bw_32f
ubench/l1_cache/l1_bw_32f_unroll/l1_bw_32f_unroll
ubench/l1_cache/l1_bw_64f/l1_bw_64f
ubench/l1_cache/l1_bw_64v/l1_bw_64v
ubench/l1_cache/l1_config/l1_config
ubench/l1_cache/l1_lat/l1_lat
ubench/l1_cache/l1_mshr/l1_mshr
ubench/l1_cache/l1_sector/l1_sector
ubench/l1_cache/l1_shared_bw/l1_shared_bw
ubench/l1_cache/l1_write_policy/l1_write_policy
ubench/l2_cache/l2_access_grain/l2_access_grain
ubench/l2_cache/l2_bw_128/l2_bw_128
ubench/l2_cache/l2_bw_32f/l2_bw_32f
ubench/l2_cache/l2_bw_64f/l2_bw_64f
ubench/l2_cache/l2_config/l2_config
ubench/l2_cache/l2_copy_engine/l2_copy_engine
ubench/l2_cache/l2_lat/l2_lat
ubench/l2_cache/l2_write_policy/l2_write_policy
ubench/mem/mem_atom_size/mem_atom_size
ubench/mem/mem_bw/mem_bw
ubench/mem/mem_config/mem_config
ubench/mem/mem_lat/mem_lat
ubench/shd/shared_bw/shared_bw
ubench/shd/shared_bw_64/shared_bw_64
ubench/shd/shared_lat/shared_lat
ubench/shd/shd_config/shd_config
ubench/system/deviceQuery/deviceQuery
ubench/system/kernel_lat/kernel_lat
ubench/system/system_config/system_config
ubench/system/list_devices/list_devices
